In [10]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("Read CSV").getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv("person_data.csv", header=True)

# Show the DataFrame
df.show()

+----+--------+---+------------------+-------------------+
|S.no|    Name|Age|         Occuption|          Education|
+----+--------+---+------------------+-------------------+
|   1|   Shane| 36|        Kishan Lal|High School Diploma|
|   2|     Ali| 30|          Engineer|    Master's Degree|
|   3|  Sameer| 25|           Teacher| Doctor of Medicine|
|   4|  Aakash| 35|            Doctor|  Bachelor's Degree|
|   5|   Rohit| 28|Software Developer|  Bachelor's Degree|
|   6|   Rahul| 40|        Accountant|  Bachelor's Degree|
|   7|   Sumit| 29|  Graphic Designer|       Juris Doctor|
|   8|   Ronak| 45|            Lawyer|  Bachelor's Degree|
|   9|Priyanka| 32| Marketing Manager|High School Diploma|
|  10| Fardeen| 27|           Student|  Bachelor's Degree|
|  11|  Noshad| 38|             Nurse|  Bachelor's Degree|
|  12|   Aakib| 31|         Architect|  Bachelor's Degree|
|  13|    Nida| 33|        Journalist|  Bachelor's Degree|
|  14|   Adiba| 42| Financial Analyst| Doctor of Pharmacy|
|  15| chandni| 26|        Pharmacist|       Trade School|
|  16|    Annu| 36|       Electrician|    Culinary School|
|  17|    Aman| 29|              Chef|     Police Academy|
|  18|  Anupma| 39|    Police Officer|    Master's Degree|
|  19|  Salman| 34|         Librarian|  Bachelor's Degree|
|  20|   Rehan| 37| Real Estate Agent|    Master's Degree|
+----+--------+---+------------------+-------------------+
only showing top 20 rows

In [11]:
# Create a PySpark DataFrame named df using the provided dataset and schema
df = spark.read.csv("New_person_data.csv", header=True, inferSchema=True)

# Filter the DataFrame to select only the rows where age is greater than or equal to 25
df_filtered = df.filter(df.Age >= 25)

# Select only the "name" and "age" columns from the filtered DataFrame
df_selected = df_filtered.select("Name", "Age")

# Display the resulting DataFrame
df_selected.show()

+--------+---+
|    Name|Age|
+--------+---+
|   Shane| 36|
|     Ali| 30|
|  Sameer| 25|
|  Aakash| 35|
|   Rohit| 28|
|   Rahul| 40|
|   Sumit| 29|
|   Ronak| 45|
|Priyanka| 32|
| Fardeen| 27|
|  Noshad| 38|
|   Aakib| 31|
|    Nida| 33|
|   Adiba| 42|
| chandni| 26|
|    Annu| 36|
|    Aman| 29|
|  Anupma| 39|
|  Salman| 34|
|   Rehan| 37|
+--------+---+
only showing top 20 rows

In [3]:
# Calculate the average age of all the individuals in the DataFrame
avg_age = df.agg({"Age": "avg"}).collect()[0][0]

# Calculate the maximum age in the DataFrame
max_age = df.agg({"Age": "max"}).collect()[0][0]

# Calculate the minimum age in the DataFrame
min_age = df.agg({"Age": "min"}).collect()[0][0]

# Display these aggregate results
print("Average age:", avg_age)
print("Maximum age:", max_age)
print("Minimum age:", min_age)

Average age: 33.72
Maximum age: 45
Minimum age: 25

In [4]:
# Create a SparkSession
spark = SparkSession.builder.appName("Read CSV").getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv("New_person_data.csv", header=True)

# Show the DataFrame
df.show()

+----+--------+---+------------------+-------------------+----------+
|S.no|    Name|Age|         Occuption|          Education|Department|
+----+--------+---+------------------+-------------------+----------+
|   1|   Shane| 36|        Kishan Lal|High School Diploma|        HR|
|   2|     Ali| 30|          Engineer|    Master's Degree|        IT|
|   3|  Sameer| 25|           Teacher| Doctor of Medicine|        IT|
|   4|  Aakash| 35|            Doctor|  Bachelor's Degree|        IT|
|   5|   Rohit| 28|Software Developer|  Bachelor's Degree|        IT|
|   6|   Rahul| 40|        Accountant|  Bachelor's Degree|        IT|
|   7|   Sumit| 29|  Graphic Designer|       Juris Doctor|        IT|
|   8|   Ronak| 45|            Lawyer|  Bachelor's Degree|        IT|
|   9|Priyanka| 32| Marketing Manager|High School Diploma|        IT|
|  10| Fardeen| 27|           Student|  Bachelor's Degree|        IT|
|  11|  Noshad| 38|             Nurse|  Bachelor's Degree|        IT|
|  12|   Aakib| 31|         Architect|  Bachelor's Degree|        IT|
|  13|    Nida| 33|        Journalist|  Bachelor's Degree|        IT|
|  14|   Adiba| 42| Financial Analyst| Doctor of Pharmacy|        IT|
|  15| chandni| 26|        Pharmacist|       Trade School|        IT|
|  16|    Annu| 36|       Electrician|    Culinary School|        IT|
|  17|    Aman| 29|              Chef|     Police Academy|        IT|
|  18|  Anupma| 39|    Police Officer|    Master's Degree|        IT|
|  19|  Salman| 34|         Librarian|  Bachelor's Degree|        IT|
|  20|   Rehan| 37| Real Estate Agent|    Master's Degree|        IT|
+----+--------+---+------------------+-------------------+----------+
only showing top 20 rows

In [8]:
# Create a new DataFrame by adding a "department" column to the existing DataFrame with values "HR" for id 1 and 2, and "IT" for the rest
from pyspark.sql.functions import when

df_new = df.withColumn("department", when(df.S_no.isin([1, 2]), "HR").otherwise("IT"))

# Group the new DataFrame by the "department" column
df_grouped = df_new.groupBy("department")

# Calculate the average age for each department
df_avg_age = df_grouped.agg({"Age": "avg"})

# Display the resulting DataFrame with department and its corresponding average age
df_avg_age.show()

+----------+-----------------+
|department|         avg(Age)|
+----------+-----------------+
|        HR|             33.0|
|        IT|33.78260869565217|
+----------+-----------------+

In [6]:
df= df.withColumnRenamed('S.no','S_no')

In [7]:
df.show()

+----+--------+---+------------------+-------------------+----------+
|S_no|    Name|Age|         Occuption|          Education|Department|
+----+--------+---+------------------+-------------------+----------+
|   1|   Shane| 36|        Kishan Lal|High School Diploma|        HR|
|   2|     Ali| 30|          Engineer|    Master's Degree|        IT|
|   3|  Sameer| 25|           Teacher| Doctor of Medicine|        IT|
|   4|  Aakash| 35|            Doctor|  Bachelor's Degree|        IT|
|   5|   Rohit| 28|Software Developer|  Bachelor's Degree|        IT|
|   6|   Rahul| 40|        Accountant|  Bachelor's Degree|        IT|
|   7|   Sumit| 29|  Graphic Designer|       Juris Doctor|        IT|
|   8|   Ronak| 45|            Lawyer|  Bachelor's Degree|        IT|
|   9|Priyanka| 32| Marketing Manager|High School Diploma|        IT|
|  10| Fardeen| 27|           Student|  Bachelor's Degree|        IT|
|  11|  Noshad| 38|             Nurse|  Bachelor's Degree|        IT|
|  12|   Aakib| 31|         Architect|  Bachelor's Degree|        IT|
|  13|    Nida| 33|        Journalist|  Bachelor's Degree|        IT|
|  14|   Adiba| 42| Financial Analyst| Doctor of Pharmacy|        IT|
|  15| chandni| 26|        Pharmacist|       Trade School|        IT|
|  16|    Annu| 36|       Electrician|    Culinary School|        IT|
|  17|    Aman| 29|              Chef|     Police Academy|        IT|
|  18|  Anupma| 39|    Police Officer|    Master's Degree|        IT|
|  19|  Salman| 34|         Librarian|  Bachelor's Degree|        IT|
|  20|   Rehan| 37| Real Estate Agent|    Master's Degree|        IT|
+----+--------+---+------------------+-------------------+----------+
only showing top 20 rows